<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="stravan" type="Stravan.Configuration.StravanConfigurationSection, Stravan" />
  	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>
	<stravan>
	<client poolSize="10" />
	<api>
	  <versions>
	    <version name="1" version="1" baseUrl="http://www.strava.com/api/v1/" secureBaseUrl="https://www.strava.com/api/v1/" />
	    <version name="2" version="2" baseUrl="http://www.strava.com/api/v2/" secureBaseUrl="https://www.strava.com/api/v2/" />
	  </versions>
	</api>
	</stravan>
</configuration>